.navbar{
    height: 100px;
}

span.pop{
    color:red !important;
    font-size: 16pt;
}

li.nav-item{
    line-height: 100px;
}

.link{
    text-decoration: none !important;
    color: black !important;
}

@media screen and (max-width: 768px){
    li.nav-item{
        line-height: inherit;
        position: relative;
        z-index: 1;
        background-color: white;
        padding-left: 10px;
    }

    .navbar-toggler-icon{
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSNaFHGeCiDmKFqTDfLVbuvviubriGbUTF73ig3wFWluQG-B7G5&usqp=CAU")!important;
    }
}