.center{
  text-align: center;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

div .center{
  padding: 100px;
  background-color: rgba(255, 0, 0, 0.151);
  border-radius: 20px;
}

div .center a{
  color: white;
  background-color: red;
}

div .center a:hover{
  color: black;
  border: 2px solid red;
  background-color: rgba(245, 245, 245, 0.233);
}